*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(background-sky-meadow-nature-clouds-mood.jpg);
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
    width: 70%;
    margin: auto;
    
}

.cs1, .cs2, .cs3{
    width: 33%;
    float: left;
    /*color: white;*/
}

.tartalom{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    text-align: center;
}

#kozep{
    text-align: center;
}

.nevek{
    /*background-image: url(web-4869856_1280.jpg);*/
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 10px 10px black;
    height: 150px;
}

/*#bem{
    font-weight: bold;
}*/