*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(background-sky-meadow-nature-clouds-mood.jpg);
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
    width: 70%;
    margin: auto;
    
}

.cs1, .cs2, .cs3{
    width: 33%;
    float: left;
}

.tartalom{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    text-align: center;
}

#kozep{
    text-align: center;
}